/* You can add global styles to this file, and also import other style files */

body {
    --main-color: #04f358;
    overflow-x: hidden;
}

button {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border: none;
  padding: 9px 25px;
  font-size: 1.1rem;
  border-radius: 3px;
  text-align: right;
}

button:hover {
  background-color: #fff;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

button:focus {
  outline: none;
  box-shadow: none;
}

input:focus {
  border: 2px solid var(--main-color) !important;
  box-shadow: none !important;
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Generic Styles */

.pointer {
  cursor: pointer;
}

.white-text {
  color: #fff;
}

/* Edit and Delete Buttons */

.edit-button {
  padding: 10px 35px;
  color: #fff;
  background-color: #21a850;
  border: 2px solid #21a850;
}

.delete-button {
  padding: 10px 25px;
  color: #fff;
  background-color: #d87e5a;
  border: 2px solid #d87e5a;
}

.edit-button-hover:hover,
.delete-button-hover:hover {
  background-color: #fff;
}

.edit-button-hover:hover {
  color:  #21a850;
  border: 2px solid #21a850;
}

.delete-button-hover:hover {
  color: #d87e5a;
  border: 2px solid #d87e5a;
}

.edit-button-hover:focus {
  border: 2px solid #21a850 !important; 
}

.delete-button-hover:focus {
  border: 2px solid #d87e5a !important;
}

/* ReadOnly Inputs */

.readonly {
  background-color: #a19f9f !important;
  color: #fff;
}

.readonly:focus {
  border: none !important;
  color: #fff !important;
}

/* Forms */

hr {
  border-color: var(--main-color);
  width: 50%;
}

.form-container {
  border: 2px solid var(--main-color);
  border-radius: 5px;
  margin-top: 50px !important;
}

.button-container {
  height: 55px;
}

@media (max-width: 992px) {
  .form-container {
      width: 85% !important;
  }
}

/* Errores Form */

.invalid-format {
  border: 1.5px solid #cf0625 !important;
}

.form-error {
  width: 100%;
  margin: 0 auto;
}
.form-error-message {
  color: #cf0625 !important;
  font-size: 0.85rem;
  margin: 3px 0 0 5px;
}

.disabled {
  background-color: #cbf3d9;
}
