<div class="modal-container d-flex">
    <div class="confirm-modal bg-dark text-center p-4 align-self-center">
        <div class="modal-body text-white">
            <p>¿Deseas eliminar el album?</p>
        </div>
        <div class="modal-buttons">
            <button (click)="confirm()" type="button" class="btn btn-primary mr-1">Confirmar</button>
            <button (click)="cancel()" type="button" class="btn btn-secondary ml-1 pl-3 pr-3">Cancelar</button>
        </div>
    </div>
</div>


